@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Princess+Sofia&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    Em HTML é id == Em CSS é #
    EM HTML é Class == Em CSS é .

    OBS: não usar o mesmo id para mais de 1 elemento, use o class invés disso.
    OBS.2: Dá pra botar 2 classes em um elemento, É só separar com espaço, e tem q ser dentro das mesmas aspas: class="oi eai"
    OBS.3: Id sobrepõe as config de class
*/

body{
    background-color: #E3D9D7;
    font: normal 16px arial, verdana, 'sans serif';
}

h1{
    color: #CC737F;
    text-shadow: 1px 2px 1px #9b9493;
    font-family: 'EB Garamond', verdana, 'sans serif';
    
}

h1#principal{
    text-align: center;
    border-bottom: solid 1px black;
    background-color: #CC737F;
    color: white;
    text-shadow: 5px 3px 1px #AB4F5A;
    margin-top: auto;
    font-family: 'EB Garamond', verdana, 'sans serif';
}

h2{
    color: #E19C97;
    text-shadow: 1px 1px 1px #996965;
}

p{
    text-align: justify;
}

span{
    text-decoration: underline;
}


